@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ED1B2E;
}

.container {
    display: flex;
    margin-top: 70px;
}

.left {
  padding-left: 80px;
}

.left img {
    padding-top: 100px;
}

.xyz{
    font-family: 'Bebas Neue', cursive;
    padding-left: 50px;
    padding-top: 100px; 
    color: white;
    font-weight: lighter;
    font-size: 75px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    padding-left: 50px;
    color: white;
    font-size: 75px;
    font-weight: lighter;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    padding-left: 50px;
    color: #FFBABA;
    font-size: 40px;
    font-weight: lighter;
}

span {
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.abc {
    font-family: 'Bebas Neue', cursive;
    color: #ED1B2E;
    font-size: 25px;
    padding-left: 50px; 
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.donate {
    padding-left: 50px; 
    padding-top: 20px; 
}

button {
    background-color: white;
    border: none;
    margin-top: 20px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 3px;
}

.nav_bar {
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 20px 20px 20px;
    text-align: center;
    justify-content:right;
}

a {
    text-decoration: none;
    color: #ED1B2E;
    font-weight: bold;
}

.nav_bar a:hover {
    background-color: white;
    border-radius: 5%;
    color:#FFBABA;
}

.nav_bar a:active {
    background-color: white;
    color: #FFBABA;
}
